(
    profiles: (
        balanced: [
            (
                fan: CPU,
                pwm: (35, 45, 63, 76, 76, 94, 119, 145),
                temp: (61, 67, 72, 76, 79, 83, 85, 88),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (22, 30, 45, 45, 73, 94, 117, 140),
                temp: (60, 63, 66, 69, 72, 74, 77, 80),
                enabled: false,
            ),
        ],
        performance: [
            (
                fan: CPU,
                pwm: (38, 63, 76, 76, 94, 145, 178, 201),
                temp: (30, 55, 59, 62, 65, 67, 70, 72),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (25, 45, 45, 73, 94, 140, 147, 188),
                temp: (30, 57, 60, 63, 66, 69, 72, 74),
                enabled: false,
            ),
        ],
        quiet: [
            (
                fan: CPU,
                pwm: (35, 45, 63, 76, 76, 94, 94, 94),
                temp: (65, 70, 75, 80, 82, 83, 86, 86),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (22, 30, 45, 45, 73, 94, 94, 94),
                temp: (65, 67, 69, 70, 72, 74, 80, 80),
                enabled: false,
            ),
        ],
        custom: [],
    ),
)